* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  font-size: 16px;
  min-height: 100vh;
  max-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  form {
    width: 80%;
    max-width: 400px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    p {
      margin-bottom: 10px;
      font-weight: 700;
      line-height: 1.35;
    }

    button {
      height: 60px;
      border: none;
      display: flex;
      outline: none;
      font-size: 16px;
      cursor: pointer;
      color: #ffffff;
      margin-top: 25px;
      border-radius: 6px;
      text-align: center;
      align-items: center;
      transition: all 250ms;
      background: #0489d6;
      justify-content: center;

      &:hover {
        background: #0699ee;
      }
    }

    & > * {
      width: 100%;
      text-align: center;

      & + * {
        margin-top: 22px;
      }
    }
  }


  .user {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 50px;

    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-bottom: 15px;
      background: #cacaca;
    }

    &__name {
      font-size: 16px;
    }
  }

  .logout {
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0 auto;
    position: absolute;

    display:flex;
    justify-content: center;

    &__button {
      cursor: pointer;
      color: #969696;
      transition: all 250ms;
      
      &:hover {
        color: #0489d6;
        text-decoration: none;
      }
    }
  }
}
