#app {
  .splash {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    i {
      width: 150px;
      height: 150px;
    }

    .title {
      margin-top: 30px;
      font-size: 20px;
    }
  }
}
