$theme: rgba(0, 0, 0, 1);
$themeAdditional: #1a97d6;

.rangedatepicker-container {
  width: 100%;
  height: 48px;

  input {
    width: 100%;
    height: 100%;
    padding: 15px;
    color: $theme;
    font-size: 14px;
    line-height: 1.5;

    border-radius: 4px;
    border: 1px solid #ccc;

    &:focus {
      outline: none;
      border-color: $themeAdditional;
    }
  }
}

.rangedatepicker-container .ranges li.active {
  background-color: $themeAdditional;
}

.rangedatepicker-container td.in-range {
  background-color: #eeeeee;
}

.rangedatepicker-container .drp-buttons .btn-primary {
  color: #fff;
  background-color: $themeAdditional;
  border: none;
}

.rangedatepicker-container td.active,
.rangedatepicker-container td.active:hover {
  background-color: $themeAdditional;
}
